@using Microsoft.AspNetCore.Identity

<nav class="h-screen w-60 "
	 data-te-sidenav-init
	 data-te-sidenav-mode-breakpoint-over="0"
	 data-te-sidenav-mode-breakpoint-side="sm"
	 data-te-sidenav-hidden="false"
	 data-te-sidenav-content="#content">
	<div class="pt-6">
		<div id="header-content" class="pl-4">
			<img src="https://th.bing.com/th/id/R.79a26de784c2e056822d94217b263243?rik=fZvyefJVf8IitA&riu=http%3a%2f%2fwww.betonlandschaften.de%2fwp-content%2fuploads%2f2020%2f03%2favatar_neutral-768x767.png&ehk=b8F%2bcFgrY%2fO%2fG4NgFP3SjAcMhbTMH2Wfa9%2bniRR6ae8%3d&risl=&pid=ImgRaw&r=0"
				 alt="Avatar"
				 class="mb-4 h-auto rounded-full align-middle"
				 style="max-width: 50px;" />

			<h4 class="mb-2 text-white text-2xl font-medium leading-[1.2]">Bienvenido</h4>
			<p class="mb-4 text-white">@username</p>
		</div>
		<hr class="border-white" />
		<ul class="relative m-0 list-none px-[0.2rem]">
			<li class="relative">
				<RutaConIcono NombreRuta="@RutasDefinidas.VistaTrabajadores" NombreVisual="Trabajadores"></RutaConIcono>
				<RutaConIcono NombreRuta="@RutasDefinidas.VistaPacientes" NombreVisual="Pacientes"></RutaConIcono>
				<RutaConIcono NombreRuta="@RutasDefinidas.VistaCitas" NombreVisual="Citas"></RutaConIcono>
				<RutaConIcono NombreRuta="@RutasDefinidas.CrearCitas" NombreVisual="Crear Cita"></RutaConIcono>
				<RutaConIcono NombreRuta="@RutasDefinidas.AdministrarCitas" NombreVisual="Administrar Citas"></RutaConIcono>
				<RutaConIcono NombreRuta="@RutasDefinidas.VistaEstadisticas" NombreVisual="Ver Estadisticas"></RutaConIcono>
				<RutaConIcono NombreRuta="/Identity/Account/Logout" NombreVisual="Cerrar Sesion"></RutaConIcono>
			</li>
		</ul>
	</div>
</nav>
