@page "/api/trabajadores/{TrabId}"
@using ProyectoTFG.Data

<PageTitle>Vista de Trabajadores</PageTitle>

<BarraSuperior></BarraSuperior>

@if (trabajadorSeleccionado != null)
{
    <label class="flex items-center cursor-pointer">
        <input type="checkbox" class="form-checkbox" @bind="isEditing" />
        <span class="ml-2 text-sm">Editar</span>
    </label>

    <div class="p-18">
    <h2>Vista avanzada</h2>
        <div class="w-full max-w-lg">
            <div class="flex flex-wrap -mx-3 mb-6">
        <EditForm Model="trabajadorSeleccionado" OnValidSubmit="HandleValidSubmit">
            <div class="flex  p-2">
                <InputEstandar TextoMostrado="Nombre" ReciboValor="@trabajadorSeleccionado.TrabNombre" Disabled="!isEditing"></InputEstandar>
            </div>
            <div class="flex  p-2">
                        <InputEstandar TextoMostrado="Apellidos" ReciboValor="@trabajadorSeleccionado.TrabApellido" Disabled="!isEditing"></InputEstandar>
            </div>
            <div class="flex  p-2">
                        <InputEstandar TextoMostrado="Telefono" ReciboValor="@trabajadorSeleccionado.TrabTel" TipoInput="number" Disabled="!isEditing"></InputEstandar>
            </div>

            <div class="flex  p-2">
                        <InputEstandar TextoMostrado="Correo" ReciboValor="@trabajadorSeleccionado.TrabCorreo" Disabled="!isEditing"></InputEstandar>
            </div>
            <div class="flex  p-2">
                        <InputEstandar TextoMostrado="Direccion" ReciboValor="@trabajadorSeleccionado.TrabDireccion" Disabled="!isEditing"></InputEstandar>
            </div>
            <div class="flex  p-2">
                        <InputEstandar TextoMostrado="Puesto de trabajo" ReciboValor="@trabajadorSeleccionado.TrabPuesto" Disabled="!isEditing"></InputEstandar>
            </div>

                    <div class="flex p-2">
                        <label for="sexo">Genero:</label>
                        <select id="sexo" @bind="@trabajadorSeleccionado.TrabSexo" disabled="@(!isEditing)">
                            <option value="">Seleccione un genero</option>
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                            <option value="O">Otro</option>
                        </select>
                    </div>
                    <div class="flex p-2">
                        <label for="horario">Horario:</label>
                        <select id="horario" @bind="@trabajadorSeleccionado.TrabHorario" disabled="@(!isEditing)">
                            <option value="">Seleccione un horario</option>
                            <option value="M">Mañana</option>
                            <option value="T">Tarde</option>
                            <option value="N">Noche</option>
                        </select>
                    </div>

            <button type="submit" class="mt-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                Actualizar
            </button>

        </EditForm>
    </div>
    </div>
    </div>
    <SfButton @onclick="NavigateBack">Volver</SfButton>
}
else
{
    <p>Cargando...</p>
}
